:root {
    --yellow: #FFE01B;
    --yellowLight: #fff3a7;
    --black: #241C15;
    --grayDark: #403B3B;
    --grayDark2: #585454;
    --gray: #d4d4d4;
    --brown: #B7A9A1;
    --lightBrown: #DBD9D2;
    --offWhite: #EFEEEA;
    --offWhiteLight: #F6F6F4;
    --white: #FFFFFF;
    --blue: #007C89;
    --blueLight: #0b8e9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

.fullsite {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 20px 10px;
    background-color: var(--yellow);
}

.header img {
    width: 7%;
}

.title {
    margin-left: 20px;
}

.navbar {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;

    background-color: var(--grayDark);

    font-size: large;

    position: left;
    align-items: flex-start;
}



.navbar {
    padding: 0 0;

}

.trevDawg {
    /* text-align: left;
    padding-left: 30px;
    padding-right: 30px; */
}

.nav-item a {
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
}

.navbar a:hover {
    background-color: var(--grayDark2);
}

.navbar a.active {
    background-color: var(--blue);
}

.navbar a.active:hover {
    background-color: var(--blueLight);
}

.links {
    display: flex;
    padding: 20px 20px;
}

.home,
.members,
.contactUs,
.shop {
    display: flex;
    padding: 20px 20px;
}

.page {
    display: flex;
    /* border: 2px solid red; */
    flex: 1;
    justify-content: center;
    background-color: var(--gray);
    /* border: 2px solid red; */
}

.content {
    display: flex;
    /* border: 2px solid green; */
    background-color: var(--gray);
    margin: 20px 0px;
    margin-bottom: 100px;
    width: 90%;
    height: 80%;

    flex-direction: column;
}

.content p {
    margin: 20px 20px;
}

.content li {
    margin: 5px 40px;
}

.words {
    margin: 10px 12px;
    padding: 10px 12px;
}

.person {
    margin: 10px 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--offWhite);
    flex-direction: row;

    /* border: 1px solid green; */
}

.rsvp-forum ul {
    list-style-type: none;
    /* border: 2px solid green; */
    
}

.rsvp-forum li {
    background-color: white;
    width: 100%;
    padding: 10px 10px;
    margin: 10px;
    margin-left: 10px;
    color: gray;
    /* border: 2px solid red; */
}

.rsvp-forum button {
    margin-left: 30px;
}

.profileInfo {
    display: flex;
    margin-left: 15px;
    align-items: left;
    justify-content: flex-start;
    width: 60%;

    flex-direction: column;

    /* border: 1px solid red; */
}

.words {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;

    /* border: 1px solid yellow; */
}

.footer {
    margin-top: auto;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--yellowLight);
    flex-direction: row;
}

.footer img {
    width: 60%;
}
  
.footer-item {
    padding: 10px 40px;
    align-items: center;
}

.footer-item a {
    font-weight: bolder;
    color: black;
}

/* FOOTER
-------------------- */
/* .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.footer-item {
    display: flex;
    width: 20%;
    margin: 10px, 0px;
    background-color: white;
}

.footer-three {
    width: 80px;
}

.footer img,
.footer-item p,
.footer-item a {
    padding: 5px 5px;
    object-fit: cover;
    overflow: hidden;
    flex: 1;
} */

@media only screen and (max-width: 575px) {
    .profileImg img {
        margin: 0 0;
        width: 100px;
        /* border: 1px solid blue; */
    }

    .footer img {
        width: 80%;
    }

    .header img {
        width: 20%;
    }

    .navbar {
        flex-direction: column;
    }

    .rsvp {
        flex-direction: column;
    }

    .rsvp-forum ul {
        width: 150%;
    }
    
    .trevDawg {
        padding-left: 30px;
    }
    
    .nav-item a {
        font-weight: bolder;
        justify-content: flex-start;
        text-align: left;
    }
    
    .person {
        flex-direction: column;
    }

    .profileInfo ol, ul {
        padding-left: 0;
    }


}

@media only screen and (min-width: 576px) {
    .profileImg img {
        margin: 0 0;
        width: 200px;
        /* border: 1px solid blue; */
    }

    .trevDawg {
        margin: 0 0;
    }

    .nav-item {
        width: 140px;
    }

    .shop {
        width: 100px;
    }

    .profileInfo ol, ul {
        padding-left: 0;
    }
}